---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?key=<WEATHER_API_KEY>&q=60463
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cdn-pullzone:
      - '93447'
      cdn-uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      cdn-requestcountrycode:
      - US
      x-weatherapi-qpm-left:
      - '999987'
      cdn-proxyver:
      - '1.39'
      cdn-requestpullsuccess:
      - 'True'
      cdn-requestpullcode:
      - '200'
      cdn-cachedat:
      - 10/24/2025 14:08:27
      cdn-edgestorageid:
      - '1348'
      cdn-requestid:
      - 8ab145149c81aacb955fef5749c5a0d0
      cdn-cache:
      - EXPIRED
      cdn-status:
      - '200'
      cdn-requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Palos Heights","region":"Illinois","country":"USA","lat":41.6621017456055,"lon":-87.7927017211914,"tz_id":"America/Chicago","localtime_epoch":1761314991,"localtime":"2025-10-24
        09:09"},"current":{"last_updated_epoch":1761314400,"last_updated":"2025-10-24
        09:00","temp_c":2.2,"temp_f":36.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":342,"wind_dir":"NNW","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":25,"feelslike_c":-0.1,"feelslike_f":31.8,"windchill_c":2.8,"windchill_f":37.1,"heatindex_c":4.7,"heatindex_f":40.5,"dewpoint_c":-1.6,"dewpoint_f":29.1,"vis_km":16.0,"vis_miles":9.0,"uv":0.5,"gust_mph":6.4,"gust_kph":10.3},"forecast":{"forecastday":[{"date":"2025-10-24","date_epoch":1761264000,"day":{"maxtemp_c":14.9,"maxtemp_f":58.8,"mintemp_c":0.2,"mintemp_f":32.4,"avgtemp_c":6.9,"avgtemp_f":44.4,"maxwind_mph":5.4,"maxwind_kph":8.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":66,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":0.7},"astro":{"sunrise":"07:14
        AM","sunset":"05:56 PM","moonrise":"10:33 AM","moonset":"07:18 PM","moon_phase":"Waxing
        Crescent","moon_illumination":6,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1761282000,"time":"2025-10-24
        00:00","temp_c":4.5,"temp_f":40.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":330,"wind_dir":"NNW","pressure_mb":997.0,"pressure_in":29.45,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":71,"cloud":0,"feelslike_c":2.7,"feelslike_f":36.9,"windchill_c":2.7,"windchill_f":36.9,"heatindex_c":4.5,"heatindex_f":40.1,"dewpoint_c":-0.4,"dewpoint_f":31.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.8,"gust_kph":14.1,"uv":0},{"time_epoch":1761285600,"time":"2025-10-24
        01:00","temp_c":3.5,"temp_f":38.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":321,"wind_dir":"NW","pressure_mb":997.0,"pressure_in":29.45,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":0,"feelslike_c":1.5,"feelslike_f":34.8,"windchill_c":1.5,"wi[...]
